@charset "utf-8";
@import url("mclibre-pie.css");

/* Página web Proyecto ASIR                 */
/* Nacho López Espert                       */
/* Paginas web HTML y hojas de estilo CSS   */
/* Bartolome Sintes Marco                   */
/* http://www.mclibre.org                   */

@font-face {
  font-family: "SigmarOne";
  src: url("sigmar-one.woff");
}

body {
  padding: 0 50px;
  background-color:hsl(210, 70%, 95%);
  font-family: sans-serif;
  text-align: justify;
}

.ir-arriba {
	display:none;
	padding:20px;
	background:hsl(210, 76%, 84%);
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}

h1 {
  margin: 0;
  color:hsl(210, 30%, 60%);
  font-family: "SigmarOne";
  font-size: 4rem;
  text-align: center;
  text-transform: capitalize;
  text-shadow: 3px 3px black;
}

h2 {
  margin: 0;
  color:hsl(210, 30%, 60%);
  font-family: "SigmarOne";
  font-size: 3rem;
  text-transform: capitalize;
  text-shadow: 3px 3px black;

}

a:link, a:visited {
  color:hsl(210, 30%, 60%);
  font-family: "SigmarOne";
}

h3 {
  margin: 0;
  color:hsl(210, 30%, 60%);
  font-family: "SigmarOne";
  font-size: 2rem;

}

pre {
  font: inherit;
  color: inherit;
  white-space: inherit;
  margin: 0 0 0 5ch;
}

strong {
  padding: 0 10px;
  background-color: white;
  color: red;
}

em {
  font-weight: bold;
  color: hsl(0, 33%, 50%);
  text-decoration: blink;
}

i {
  font-size: 1rem;
  font-weight: bold;
  text-decoration: underline;
}

time {
  color: blue;
}

img {
  border: hsl(210, 30%, 60%) 5px solid;
  padding: 5px;
  width: auto;
  max-width: 100%;
  height: auto;
}

img.izquierda {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

img.derecha {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}

p {
  font-family: sans-serif;
}

p.izquierda {
  float: left;
  width: 33%;
}

p.centrado {
  text-align: center;
}

hr {
  clear: both;
  width: 66%;
  height: 10px;
  border: black 1px solid;
  border-radius: 5px;
  margin: 40px auto;
  background-color: hsl(210, 30%, 60%);
}

address {
  text-align: right;
  font-style: normal
}

p.mclibre {
  all: initial;
  clear: both;
  position: fixed;
  bottom: 0;
  height: 1.5rem;
  left: 0;
  width: 100%;
  border-top: black 2px solid;
  margin: 0;
  padding: 0.25em 0 0.25em;
  background-color: white;
  color: black;
  font-family: sans-serif;
  font-size: 0.8rem;
  text-align: center;
}

p.mclibre * {
  all: initial;
  font-family: sans-serif;
  font-size: 0.8rem;
}

p.mclibre::first-letter {
  all: initial;
  font-family: sans-serif;
}

p.mclibre a {
  color: blue;
  text-decoration: underline;
}

p.mclibre a cite {
  padding: 0;
  color: blue;
  font-style: oblique;
}

p.mclibre cite {
  padding: 0;
  color: black;
}

/* * * * * * * * * * * * * * * * * * * * * * */

ul.indice {
  font-size: 120%;
}

ul.indice a {
  text-decoration: none;
}


/* Pantallas estrechas */

@media screen and (max-width: 768px) {
  html {
    margin-left: 5px;
    margin-right: 5px;
  }

  body {
    padding: 0;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  ul.indice {
    font-size: 1rem;
    text-align: left;
  }
}